/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 본문 스타일 */
body, html {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

/* 헤더 스타일 */
header {
    position: fixed; /* 상대 위치 지정 */
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* 로고를 중앙에 위치하도록 */
    padding: 20px;
    z-index: 4000;
    background-color: rgba(255, 255, 255, 1);
}

.logo {
    margin: 0 auto;
    width: 150px;
}
/* 헤더 내의 장바구니 아이콘 스타일 */
.cart-icon {
    position: absolute;
    right: 40px; /* 필요에 따라 위치 조정 */
    top: 40px;
}

.cart-icon img {
    width: 30px;
    height: 30px;
}

/* 메뉴 버튼 스타일 */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4100;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

/* 닫기 버튼 스타일 */
.close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    z-index: 4200;
}

/* 메뉴 스타일 */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 20px;
    z-index: 4300;
}

.menu.menu-open {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu > ul > li > a {
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    display: block;
    margin: 20px 0;
}

.menu li ul {
    margin-left: 20px;
}

.menu li ul li a {
    font-weight: normal;
    font-size: 1rem;
    color: #666;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    transition: color 0.3s;
}

.menu li ul li a:hover {
    color: #000;
}

/* 오버레이 스타일 */
.overlay {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    z-index: 4200;
}

.overlay-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

/* 슬라이드 이미지 섹션 스타일 */
.carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 80px;
    z-index: 1000;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.carousel-slide {
    min-width: 100%;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

.carousel-slide.visible {
    display: flex;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 화살표 버튼 스타일 */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1050;
}

.prev-button {
    left: 40px;
}

.next-button {
    right: 40px;
}

/* Savoir plus 버튼 스타일 */
.savoir-plus-button {
    position: absolute;
    bottom: 100px;
    left: 100px;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    z-index: 1050;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 15px;
}

.savoir-plus-button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/* 메인 컨텐츠 스타일 */
main {
    margin-top: 5vh;
    padding: 10px;
    position: relative;
    z-index: 800;
}

/* 메인 컨텐츠 스타일 */
.index-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.index-section {
    text-align: center;
    flex: 1;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.index-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 20px 40px;
    transition: background-color 0.3s;
}

.index-section a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.index-section a:hover .icon {
    transform: scale(1.1);
    filter: brightness(1);
}

.icon {
    width: 400px;
    height: 250px;
    transition: transform 0.3s, filter 0.3s;
    margin-bottom: 10px;
}

.index-section h2 {
    margin: 0;
}

/* 숨겨진 텍스트 스타일 */
.hover-text {
    display: none;
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}

/* 호버 시 텍스트 표시 */
.index-section:hover .hover-text {
    display: block;
    position: relative;
    top: -20px;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
    .savoir-plus-button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .carousel-button {
        font-size: 1.5rem;
        padding: 8px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .section {
        margin-bottom: 20px;
    }
}

/* 메인 컨텐츠와 푸터 사이의 이미지 섹션 스타일 */
.between-content-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    display: block;
    margin: 0px 0; /* 상단 및 하단 간격 */
}

/* 푸터 스타일 */
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #ccc;
}

.footer-section img {
    width: 250px;
    height: 50px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 400px; /* 상단 섹션과 간격을 늘리기 위해 변경 */
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px; /* 상단 섹션과의 간격을 더 늘리기 위해 변경 */
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.footer-logo img:first-child {
    width: 200px; /* Info 이미지 사이즈 조정 */
    height: 200px;
    margin-left: calc(7%);
}

.footer-logo img:last-child {
    width: 60px; /* Slogan 이미지 사이즈 조정 */
    height: 60px;
    margin-right: calc(10% + 10px);
}


	/* Produits 사이트 */
/* 상단 이미지 (슬라이더 이미지의 절반 크기) 스타일 */
.produit_main_image {
    width: 100%;
    height: 40vh; /* 슬라이더 이미지의 높이 절반 */
    object-fit: cover;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* 컨테이너 스타일 */
.produit-page .container {
    display: grid;
    grid-template-columns: repeat(4, 200px); /* 4개의 200px 열 */
    grid-gap: 5px 100px; /* 그리드 아이템 사이의 간격 */
    justify-content: center; /* 그리드를 가운데로 정렬 */
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 5px;
}

/* 섹션 스타일 수정 */
.produit-page .section {
    text-align: center;
    padding: 10px; /* 배경색 범위를 조절하기 위한 패딩 */
    box-sizing: border-box; /* 패딩을 요소 크기에 포함 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

/* 호버 효과 추가 */
.produit-page .section:hover {
    background-color: #ffffff; /* 호버 시 배경색 변경 */
    border-radius: 15px; /* 이미지 모서리에 맞춰 둥글게 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}

/* 이미지 스타일 수정 */
.produit-page .produit_icon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease; /* 이미지 확대 전환 효과 */
}

/* 이미지 호버 효과 */
.produit-page .section:hover .produit_icon {
    transform: scale(1.05); /* 이미지 확대 */
}


/* 제목 스타일 */
.produit-page .produit-title {
    font-size: 1.2em; /* 원하는 글자 크기 설정 */
    font-weight: bold; /* 글자 굵기 설정 */
    color: #333; /* 글자 색상 */
    margin: 20px 0; /* 위아래 여백 */
    text-align: center; /* 텍스트 정렬 */
}

/* 가격 텍스트 스타일 */
.produit-page .price {
    color: rgba(224, 177, 6, 1);
    font-size: 1em;
    margin-top: 3px;
    text-align: center;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 879px) {
    .container {
        grid-template-columns: repeat(3, 200px); /* 3개의 열 */
    }
}

@media (max-width: 659px) {
    .container {
        grid-template-columns: repeat(2, 200px); /* 2개의 열 */
    }
}

@media (max-width: 439px) {
    .container {
        grid-template-columns: 200px; /* 1개의 열 */
    }
}

 		/* Fournisseur 사이트 */
/* 상단 작은 로고 스타일 */
.fournisseur_logo {
    text-align: center;
    margin: 10px 0;
}

.fournisseur_logo img {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: 200px;
    height: 100px;
}


/* 인사말 스타일 */
.introduction {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
    line-height: 1.5;
    color: #333;
    font-weight: bold;
}

.introduction_01 {
    text-align: center;
    margin: 50px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

/* 회사 정보 입력 폼 스타일 */
.form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #555;
}

/* 체크박스 그룹 스타일 */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 항목 간의 간격 */
}

.checkbox-group div label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.checkbox-group input[type="checkbox"] {
    margin: 0;
    margin-right: 10px; /* 체크박스와 텍스트 사이의 간격 */
    width: 16px;
    height: 16px;
}

/* 다운로드 버튼 스타일 */
.download-button {
    display: inline-block;
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    margin-top: 10px; /* 위쪽 간격 */
    text-decoration: none; /* 밑줄 제거 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 변경 */
    font-size: 16px; /* 폰트 크기 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.download-button:hover {
    background-color: #0056b3; /* 호버 시 버튼 배경색 변경 */
}
	/* Contact personelle 사이트 */
/* 지도와 연락처 정보를 나란히 배치 */
.map-and-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.map-container {
    flex: 0 0 50%; /* 지도 부분을 너비의 50%로 설정 */
}

.contact-info {
    flex: 1; /* 연락처 정보가 남은 공간을 차지하도록 설정 */
    Padding-top: 100px;
    padding-left: 70px;
}

.map-container iframe {
    width: 100%; /* iframe이 부모 컨테이너의 너비를 모두 차지하도록 설정 */
    height: 450px;
    border: 0;
}

/* 장바구니 아이템 스타일 */
#cart-items {
    max-width: 800px;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#cart-total {
    max-width: 800px;
    margin: 20px auto;
    text-align: right;
    font-size: 1.2em;
}

#clear-cart {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}
